<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="4.0.2.4" />
  <package id="AWSSDK.CognitoIdentityProvider" version="4.0.4.6" manuallyInstalled="true" />
  <package id="AWSSDK.Core" version="4.0.3.4" />
  <package id="AWSSDK.SecurityToken" version="4.0.3.2" />
  <package id="Amazon.Extensions.CognitoAuthentication" version="3.1.2" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.5" />
</packages>